.card {
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 658px;
    // max-width: 428px;
    padding-top: 100px;
    background-image: url(../img/products/card-bg.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  

    &__taste {
        font-size: 18px;
        line-height: 1.56;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    &__title {
        font-size: 32px;
        line-height: 1.19;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

  
}