.nav {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-left: 30px;
        }
    }

    &__link {
        display: inline-block;
        padding: 15px 44px;
        color: #222222;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
    }
}